
<!DOCTYPE html>

<html>

    <head>

        <title>Task Manager</title>

        <style>

            a {text-decoration: none; color: black;}

        </style>

    </head>


    <body>
        <form action="/todolist">
              <input type="submit" value="home" />
        </form>

        <h1>Add more tasks</h1>

        <form action="/todolist/add/" method="post">

            <p>

                <label for="task">what is your task </label>

                <input type="text" name="task" id="task" autofocus />

                <input type="submit" />

            </p>

        </form>

    </body>

</html>