<!DOCTYPE html>

<html>

    <head>

        <title>Task Manager</title>

        <style>

            a {text-decoration: none; color: black;}

        </style>

     <link rel="stylesheet" type="text/css" href="/css/style.css">

    </head>


    <body>

       
         <div class="topnav">
         <a class="active" href="/todolist">Home</a>
         <a href="/todolist/newtask/">Add Task</a>
        </div> 

        <h1>Update the task</h1>

       
        <div >

        <form class ="container" action="/todolist/update/<%= para %>" method="post">

            <table>
            <tr>
            <td align="left"> Enter task : </td>
            <td align="left"><input type="text" name="task" /></td>
            </tr>
            <tr>
            <td align="left">Enter date :</td>
            <td align="left"><input type="text" name="tdate" /></td>
            </tr>
            <tr>
            <td align="left">Responsable :</td>
            <td align="left"><input type="date" name="tresp" /></td>
            </tr>
            <tr>
            <td align="left">Select priority :</td>
            <td align="left">
                <select>
                <option value="urgent important">urgent important</option>
                <option value="urgent not important">urgent not important</option>
                <option value="not urgent important">not urgent important</option>
                <option value="not urgent not important">not urgent not important</option>
                </select>
            </td>
            </tr>
            </table>
                
             <input type="submit" value="save the change"/>
        </form>
        
        
        </div>
        

    </body>

</html>
